* {
  padding: 0px;
  margin: 0px;
}

.search-bar {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 0.5rem;
}

.trade-column {
  display: block;
  align-items: center;
  padding: 0.5rem;
  margin: 5%;
}
.trade-box {
  width: 15em;
}
